@page "/"
@rendermode InteractiveServer
@using System.Text

<PageTitle>Homeeee</PageTitle>

<Dashboard />

@((MarkupString)LoremIpsum(20, 30, 3, 10, 2))

Welcome to your new app.

<br>
<button @onclick=Increment>My button</button>

<br>
<p>@counter</p>

@code
{
    string ahojSvete = "Ahoj svete z c#!";
    int counter = 0;

    public string Welcome() => "Ahoj svete z c# metody!";

    public void Increment()
    {
        counter++;
    }

    static string LoremIpsum(int minWords, int maxWords,
    int minSentences, int maxSentences,
    int numParagraphs) {

    var words = new[]{"lorem", "ipsum", "dolor", "sit", "amet", "consectetuer",
        "adipiscing", "elit", "sed", "diam", "nonummy", "nibh", "euismod",
        "tincidunt", "ut", "laoreet", "dolore", "magna", "aliquam", "erat"};

    var rand = new Random();
    int numSentences = rand.Next(maxSentences - minSentences)
        + minSentences + 1;
    int numWords = rand.Next(maxWords - minWords) + minWords + 1;

    StringBuilder result = new StringBuilder();

    for(int p = 0; p < numParagraphs; p++) {
        result.Append("<p>");
        for(int s = 0; s < numSentences; s++) {
            for(int w = 0; w < numWords; w++) {
                if (w > 0) { result.Append(" "); }
                result.Append(words[rand.Next(words.Length)]);
            }
            result.Append(". ");
        }
        result.Append("</p>");
    }

    return result.ToString();
    }
}
